* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f01c;
}

.badgeOnline {
    color: white;
    background-color: green;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.my-button {
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: rgb(27, 27, 202);
    border: none;
    cursor: pointer;
    margin: 10px;
}